body {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#gameGui {
  position: absolute;
  /* top: 20px; */
  width: 100%;
  height: 100%;

  background-image: url(img/background/nature.jpg);
  background-size: contain;
}

/* .player {
  border: solid 1px black;
} */
body * {
  border: solid 1px black;
}